.offcanvas_box {
  max-width: 300px;
}

.offcanvas-title {
  font-size: 16px;
  text-transform: uppercase;
}

.offcanvas_btn {
  color: black;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: rgb(240, 238, 238);
  }
}

.offcanvas_link {
  color: black;
  display: block;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  text-decoration: none;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: rgb(240, 238, 238);
  }
}